.DS_Store
.eclipse.buildship.core.prefs
.gradle/
.idea/
.kubernetes-manifests-*/
.project
.skaffold-*.yaml
.terraform.lock.hcl
.terraform/*
.venv/
.vs/
.vscode/
*.iml
*.ipr
*.iws
*.pyc
*.swp
*.tfstate*
*.tfvars
*~
bin/
build/
Dockerfile.pip
node_modules/
obj/
pkg/
release/wi-kubernetes-manifests.yaml
vendor/
gha-creds-*.json


# SSH/private keys
*.pem
*.key
id_rsa
id_rsa.*
id_ed25519
id_ed25519.*

# Local secrets
.env
*.secret
*.secrets


# Local VM/cloud-init data
*.iso
*.qcow2
*.img

infra/gitlab-runner/config
infra/gitlab-runner/certs
